body{
    background-color: aqua;
}

.titlePlan{
    color: blue;
}

th{
    padding-bottom: 20px;
}

td{
    padding: 0 0 30px 30px;
}

table{
    margin: 40px;
}

#imagen{
    width: 700px;
    height: 400px;
}